#dialogues {
    border-width: 5px;
    border-color: black;
}

#container {
    border: 2px;
    border-color: red;
    padding: 20px;
    margin: 10px;
}

body {
    background-color: rgb(107, 87, 87);
    color: white;
}